@media (max-width: 767px) {
    .container {
        padding: 130px 0 50px 0;
    }

    .track-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .track-result-header {
        padding: 20px;
    }
}